.content h2{
    font-size: 2rem;
    font-weight: 500;
}
.content h1{
    font-size: 3.5rem;
    color: var(--orange);
    font-weight: 700;
}
.content p{
    font-size: 1.5rem;
    color: var(--grey);
    font-weight: 400;
}

.qrcode{
    height: 30vw;
    width: 30vw;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    position: relative;
}
.container{
    height: 100%;
}

.cam{
    float: right;
    margin-right: 1rem;
}
